name: short-number

services:
    app:
        build: .
        image: short-number
        volumes:
            - .:/app:z
        environment:
            - TERM=xterm-256color
        tty: true
        stdin_open: true
